flask==3.1.2
flask-socketio==5.5.1
werkzeug==3.1.4
aiogram==3.22.0
peewee==3.18.3
minio==7.2.20
celery==5.5.3
dotenv==0.9.9
python-dotenv==1.2.1
captcha==0.5.0
psycopg2-binary==2.9.11
redis==7.1.0
gevent==25.9.1